<main class="p-5">
    {{#with person}}
    <div>
        <h1>{{name}}</h1>
    </div>
    <div>
        <em>{{age}}, {{gender}}</em>
    </div>
    <div>
        {{#with address}}
        <em>{{street}}, {{city}}, {{state}}, {{zip}}, {{country}}</em>
        {{/with}}
    </div>
    <hr class="mb-5">
    <div>
        {{#each education}}
        {{> title data="My education" big=true}}
        <b>Degree:</b> {{degree}}
        <br>
        <b>Major:</b> {{major}}
        <br>
        <b>University:</b> {{university}}
        <br>
        <b>Graduated:</b> {{graduationYear}}
        {{/each}}
    </div>
    <hr class="my-5">
    <div>
        {{#each workExperience}}
        <div class="mb-5">{{> title data="My work-experience" big=true}}</div>
        <h4 class="mb-5">{{title}}</h4>
        <b>Company:</b> {{company}}
        <br>
        <b>{{startDate}} - {{endDate}}</b>
        <br>
        <b>Responsibilities:</b>
        <ul>
            {{#each responsibilities}}
            <li>{{this}}</li>
            {{/each}}
        </ul>
        <b>Year founded:</b> {{year_founded}}
        <br>
        <b>Industry:</b> {{industry}}
        <div class="mb-4 mt-5">{{> title data="Employees:"}}</div>
        {{#each employees}}
        <b>Name:</b> {{name}}
        <br>
        <b>Position:</b> {{position}}
        <br>
        <b>Department:</b> {{department}}
        <div class="mb-4 mt-5">{{> title data="Projects:"}}</div>
        {{#each projects}}
        <b>Name:</b> {{name}}
        <br>
        <b>Description:</b> <q>{{description}}</q>
        <br>
        <b>Status:</b> {{status}}
        <div class="mb-4 mt-5">{{> title data="Teams:"}}</div>
        {{#each teams}}
        <b>Team name:</b> {{team_name}}
        <br>
        <b>{{team_leader.title}}:</b> {{team_leader.name}}
        <br>
        <b>Email:</b> {{team_leader.email}}
        <div class="mb-4 mt-5">{{> title data="Team members:"}}</div>
        {{#each team_members}}
        <b>Name:</b> {{name}} <em>({{title}})</em>
        <br>
        <b>Email:</b> {{email}}
        <br>
        <b>Skills:</b> {{skills}}
        <div class="mb-4 mt-5">{{> title data="Projects:"}}</div>
        {{#each projects}}
        <b>Name:</b> {{name}}
        <br>
        <b>Description:</b> <q>{{description}}</q>
        <br>
        <b>Technologies:</b> {{technologies}}
        <div class="mb-4 mt-5">{{> title data="Team members:"}}</div>
        <ul>
            {{#each team_members}}
            <li><b>Name:</b> {{name}} <em>({{title}})</em></li>
            {{/each}}
        </ul>
        {{/each}}
        {{/each}}
        {{/each}}
        {{/each}}
        {{/each}}
        {{/each}}
    </div>
    {{/with}}
</main>