<main class="ps-5">
    {{#each web.languages}}
    {{> title data=name big=true}}
    <b>{{name}}</b>
    ({{version}}) -
    <div class="mb-4"><em>{{description}}</em></div>

    {{#if elements}}
    {{> title data="Elements"}}
    {{/if}}
    {{#each elements}}
    <b>{{name}}</b> -
    <div class="mb-3"><em>{{description}}</em></div>
    <ul>
        {{#each attributes}}
        <li>
            <em>
                <b>{{name}}</b> -
                {{description}}
            </em>
        </li>
        {{/each}}
    </ul>
    {{/each}}

    {{#if properties}}
    {{> title data="Properties"}}
    {{/if}}

    {{#each properties}}
    <b>{{name}}</b> -
    <div class="mb-3"><em>{{description}}</em></div>
    <ul>
        {{#each values}}
        <li>
            <em>
                <b>{{value}}</b> -
                {{description}}
            </em>
        </li>
        {{/each}}
    </ul>
    {{/each}}

    {{#if functions}}
    {{> title data="Functions"}}
    {{/if}}

    {{#each functions}}
    <b>{{name}}</b> -
    <div class="mb-3"><em>{{description}}</em></div>
    <ul>
        {{#each parameters}}
        <li>
            <em>
                <b>{{name}}</b>
                ({{type}}) -
                {{description}}
            </em>
        </li>
        {{/each}}
    </ul>
    {{/each}}
    <hr>
    {{/each}}
</main>