<div class="col-12">
    <div class="row">
        <div class="nav">
            {{#each footer.[0]}}
            <a href="{{link}}" class="nav-link col-3">{{text}}</a>
            {{/each}}
            {{#each footer.[1]}}
            <a href="{{link}}" class="nav-link col-3">{{text}}</a>
            {{/each}}
            {{#each footer.[2]}}
            <a href="{{link}}" class="nav-link col-3">{{text}}</a>
            {{/each}}
            {{#each footer.[3]}}
            <a href="{{link}}" class="nav-link disabled col-3">{{text}}</a>
            {{/each}}
        </div>
    </div>
</div>